<%- include('includes/head.ejs') %>
  </head>

  <body class="text-bg-light">
    <%- include('includes/navbar.ejs') %>
    <main>
      <div class="container mt-3">
        <div class="row">
          <div class="col">
            <h2>Home</h2>
            <ul class="list-group mb-3">
              <li class="list-group-item">
                A very basic informational site built with NodeJs/Express
              </li>
              <li class="list-group-item">Dynamic Content is added via EJS</li>
              <li class="list-group-item">
                A 404.html is displayed if the requested page doesn't exist
              </li>
              <li class="list-group-item">
                Contact me input is displayed in the console
              </li>
            </ul>
            <h2>Comments</h2>
            <% if (comments.length >0) { %> 
            <% comments.forEach((comment) => { %>
            <div class="second py-2 px-2">
              <span class="text1"><%= comment.message %></span>
              <div class="d-flex justify-content-between py-1 pt-2">
                <div><span class="text2"></span><%= comment.email %></div>
              </div>
            </div>
            <% }) %> 
            <% } %>
          </div>
        </div>
      </div>
    </main>
    <%- include('includes/html-end.ejs') %>


